page-pdet {
    .head{
        background-image: linear-gradient(#2883d2, #3cb1bb);
        height: 35%;
        padding: 0px;
        text-align: center;
    }
.doc{
    
    height:250px;
    width:250px;
    margin-top:60px;
    border-radius: 20px!important;
    

}
ion-card-header.card-header.card-header-md{
    color:#eaf5fb;
    background-image: linear-gradient(#2883d2, #3cb1bb);
    
}
}
